<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary mdl-shadow--2dp">
  <div class="mdl-layout--large-screen-only mdl-layout__header-row">
    <div class="layerTransparent">
      <h1 class="content">{{ site.title }}</h1>
    </div>
  </div>
  <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
    <a href="{{ site.baseurl }}" class="mdl-layout__tab">Home</a>
    <a href="{{ site.blog_url }}" class="mdl-layout__tab">Blog</a>
    {% for page in site.pages %}
      {% if page.title and page.title != 'Episodes' %}
        <a href="{{ page.url | replace_first: '/', '' | prepend: site.baseurl }}" class="mdl-layout__tab">{{ page.title }}</a>
      {% endif %}
    {% endfor %}
  </div>
</header>
