{% unless page.speaker_list == empty %}
  <div class="speaker">
    <h3>Speaker</h3>
    <section class="mdl-cell mdl-cell--11-col author">
      <div class="mdl-grid">
        {% for speaker in page.speaker_list %}
          <div class="mdl-cell mdl-cell--2-col author-avatar">
            <a href="/speaker/{{ speaker.name | replace: ' ', ''}}/">
              <img src="{{ speaker.image_url }}" alt="{{ speaker.name }}" height="64px" width="64px"/>
              <p>{{ speaker.name }}<p>
            </a>
          </div>
        {% endfor %}
      </div>
    </section>
  </div>
{% endunless %}
