html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

/**
 * Mixins for media queries
 */
$tablet-width: 840px;
$desktop-width: 1025px;

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

.migrationfm {
  article {
    padding-bottom: 48px;
  }
  .subheader {
    font-size: 16px;
    text-transform: uppercase;
    color: #9E9E9E;
  }
  .author {
    h5 {
      margin-top: 0px;
    }
    .author-avatar {
      text-align: center;
      img {
        border-radius: 50%;
      }
    }
  }
  .icon {

      > svg {
          display: inline-block;
          width: 16px;
          height: 16px;
          vertical-align: middle;

          path {
              fill: #828282;
          }
      }
  }
  .pagination {
    .previous {
      text-align: left;
    }
    .next {
      text-align: right;
    }
    .indicator {
      text-align: center;
      padding-top: 8px;
    }
  }
}
