---
layout: default
---
<div class="mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800">
  <div class="post">
    <section class="section--center mdl-grid mdl-grid--no-spacing">
      <div class="mdl-cell mdl-cell--12-col">
        <h5 class="subheader">
          {% assign d = page.date | date: "%d" | plus:'0' %}
          {{ page.date | date: "%B" }}
          {% case d %}
          {% when 1 or 21 or 31 %}{{ d }}st,
          {% when 2 or 22 %}{{ d }}nd,
          {% when 3 or 23 %}{{ d }}rd,
          {% else %}{{ d }}th,
          {% endcase %}
          {{ page.date | date: "%Y" }}
        </h5>
        <h2>{{ page.title }}</h2>
        <div class="description">{{ page.description }}</div>

        <div class="keywords">Keywords: {{ page.keywords }}</div>

        {% include soundcloud.html %}

        {% include speaker_list.html %}

        <article>
          {{ content }}
        </article>

        {% include social.html %}

        <div class="mdl-grid pagination">
          <div class="mdl-cell mdl-cell--6-col previous">
            {% if page.previous %}
              <a class="mdl-button mdl-button--primary" href="{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous Post</a>
            {% else %}
              <a class="mdl-button mdl-button--primary" disabled>&larr; Previous Post</a>
            {% endif %}
          </div>

          <div class="mdl-cell mdl-cell--6-col next">
            {% if page.next %}
              <a class="mdl-button mdl-button--primary" href="{{ page.next.url }}" title="{{ page.next.title }}">Next Post &rarr;</a>
            {% else %}
              <a class="mdl-button mdl-button--primary" disabled>Next Post &rarr;</a>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
